@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --color1: #219bac;
    --color2: #1692cb;
    --color3: #013f56;
    --color4: #02628c;
    --color5: #9d9d9d;
    --color6: #2c2caa;
    --color7: #2c5cca;
    --color8: #00113a;
    --color9: #dfdfdf;
    --color10: #1d006d;
    --color11: #00395a;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Lora", serif;
    text-decoration: none;
}


.container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 60px;
    grid-template-areas:
        'header     header      header      header      header      header'
        'bem-vindo  bem-vindo   bem-vindo   bem-vindo   bem-vindo   bem-vindo'
        'bem-vindo  bem-vindo   bem-vindo   bem-vindo   bem-vindo   bem-vindo'
        'bem-vindo  bem-vindo   bem-vindo   bem-vindo   bem-vindo   bem-vindo'
        'quiz       quiz        quiz        quiz        quiz        quiz'
        'quiz       quiz        quiz        quiz        quiz        quiz'
        'quiz       quiz        quiz        quiz        quiz        quiz'
        'quiz       quiz        quiz        quiz        quiz        quiz'
        'quiz       quiz        quiz        quiz        quiz        quiz'
        'imagem     imagem      imagem      imagem      imagem      imagem'
        'imagem     imagem      imagem      imagem      imagem      imagem'
        'rodape     rodape      rodape      rodape      rodape      rodape' 
    ;
}

.header{
    grid-area: header;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 60px;
    background-color: var(--color8);
}

.header .atalho{
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    font-family: "PT Serif", serif;
    font-weight: 700;
    font-size: 18px;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

#menu{
    display: block;
    position: absolute;
    width: 350px;
    top: 60px;
    left: 0px;
    list-style: none;
    background-color: var(--color8);
    transition: .6s;
    z-index: 1000;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;
}

#nav.active #menu{
    height: calc(100vh - 60px);
    visibility: visible;
    overflow-y: auto;
}

#menu a{
    display: block;
    padding: 1rem 1rem;
    margin: 0 1rem;
    color: white;
    border-top: 2px solid rgba(255, 255, 255, 0.07);
}

#btn-menu{
    display: flex;
    padding: .5rem 1rem;
    font-family: "PT Serif", serif;
    font-weight: 700;
    font-size: 22px;
    border: none;
    background: none;
    color: var(--color1);
    cursor: pointer;
    gap: .5rem;
}

#hamburger{
    margin-top: 7px;
    border-top: 3px solid;
    width: 24px;
}

#hamburger::after, #hamburger::before {
    content: '';
    display: block;
    width: 24px;
    height: 2.5px;
    background: currentColor;
    margin-top: 5px;
    transition: .3s;
    position: relative;
}

#nav.active #hamburger{
    border-top-color: transparent;
}

#nav.active #hamburger::before{
    transform: rotate(135deg);
}

#nav.active #hamburger::after{
    transform: rotate(-135deg);
    top: -7px;
}

li a:hover{
    background-color: rgba(255, 255, 255, 0.421);
}

.header .titulo{
    grid-column: 2/5;
    grid-row: 1/2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo h1{
    font-family: 'Bookman Old Style';
    font-size: 40px;
    color: var(--color1);
    margin-right: 20px;
}

.titulo img{
    width: 45px;
    height: 45px;
}

.bem-vindo{
    grid-area: bem-vindo;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: "PT Serif", serif;
}

.bem-vindo h1{
    font-size: 40px;
    color: var(--color2);
}

.bem-vindo h2{
    font-size: 20px;
    color: var(--color9);
}

.bem-vindo p{
    font-size: 18px;
    color: var(--color9);
    font-style: italic;
    margin: 5px 18px;
}

.bem-vindo h2, .bem-vindo p {
    transition: color 0.3s ease;
}

.background-white .bem-vindo h2,
.background-white .bem-vindo p {
    color: black;
}

.background-dark .bem-vindo h2,
.background-dark .bem-vindo p {
    color: white;
}


.box-quiz{
    grid-area: quiz;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "PT Serif", serif;
}

.quiz-container {
    background-color: var(--text-color3);
    width: 100%;
    max-width: 1000px;
    margin: 0 20px;
  
    border: 4px solid #7a00c1;
    background-color: var(--color10);
    border-radius: 6px;
    padding: 16px;
    box-shadow: 0 0 2px 2px;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
.questions-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}
  
.question {
    font-size: 24px;
    font-weight: bold;
    text-align: center;

    font-family: "PT Serif", serif;
    font-weight: 700;
}
  
.answers-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;

}
  
.answer:disabled {
    cursor: not-allowed;
}
  
.button {
    background-color: #4863f7;
    color: #fff;
    font-size: 17px;
    font-family: 'Bookman Old Style';
    border: 0;
    border-radius: 6px;
    height: 48px;
    padding: 0 32px;

    transition: filter 0.1s;
    cursor: pointer;
}
  
.next-question {
    margin-top: 30px;
    padding: 10px 35px;
    background-color: #02008a;
    border: 1px solid var(--color5);
    
    font-family: "PT Serif", serif;
    font-weight: 700;
    font-size: 20px;
}

.button:not(:disabled):hover {
    filter: brightness(0.8);
}
  
/* Finish game */
.final-message {
    font-size: 24px;
    text-align: center;

    font-family: "PT Serif", serif;
    font-weight: 600;
}
  
.final-message span {
    display: block;
    margin-top: 8px;
}
  
/* General styles */
.hide {
    display: none;
}
  
.correct {
    background-color: #049b48;
}
  
.incorrect {
    background-color: #a10101;
}

.imagens{
    grid-area: imagem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.imagens img{
    max-width: 950px;
    height: 95px;
}

.rodape{
    grid-area: rodape;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;
    background-color: var(--color8);
    font-size: 18px;
    font-family: "PT Serif", serif;
    font-weight: 700;
    font-style: italic;
}

@media (max-width: 768px) {

}